<style>
    #cookie-notice {padding: 0.5rem 1rem; display: none; text-align: center; position: fixed; bottom: 0; width: calc(100% - 2rem); background: #222; color: rgba(255,255,255,0.8); z-index: 50;}
    #cookie-notice a {display: inline-block; cursor: pointer; margin-left: 0.5rem;}
    @media (max-width: 767px) {
        #cookie-notice span {display: block; padding-top: 3px; margin-bottom: 1rem;}
        #cookie-notice a {position: relative; bottom: 4px;}
    }
</style>
<div id="cookie-notice"><span>Diese Website verwendet keine Cookies, außer Sie stimmen der Analyse mittels Google Analytics zu.</span><a id="cookie-notice-accept" class="btn btn-primary btn-sm">Zustimmen</a><a id="cookie-notice-reject" class="btn btn-primary btn-sm">Ablehnen</a></div>
<script>
    function createCookie(name,value,date) {
        var expires = "";
        if (date) {
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + value + expires + "; path=/";
    }
    function readCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for(var i=0;i < ca.length;i++) {
            var c = ca[i];
            while (c.charAt(0)===' ') c = c.substring(1,c.length);
            if (c.indexOf(nameEQ) === 0) return c.substring(nameEQ.length,c.length);
        }
        return null;
    }

    function setApprovalCookie() {
        let expiry = new Date;
        expiry.setFullYear(expiry.getFullYear() + 2);
        createCookie('cookies-approved', 'true', expiry);
    }

    if(readCookie('cookies-approved') === 'true') {
        setApprovalCookie();
        {% include ga.js %}
    } else if (window.sessionStorage.getItem("cookies-rejected") !== 'true') {
        document.getElementById('cookie-notice').style.display = 'block';
    }
    document.getElementById('cookie-notice-accept').addEventListener("click",function() {
        document.getElementById('cookie-notice').style.display = 'none';
        setApprovalCookie();
        {% include ga.js %}
    });
    document.getElementById('cookie-notice-reject').addEventListener("click",function() {
        sessionStorage.setItem("cookies-rejected", 'true');
        document.getElementById('cookie-notice').style.display = 'none';
    });

</script>
