<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header id="header"{% if page.layout == "landing" %} class="alt style2"{% endif %}{% if page.layout == "home" %} class="alt"{% endif %}>
	<a href="{{ "" | absolute_url }}/" class="logo">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 150">
			<defs>
				<style>
					.cls-1{font-size:44px;letter-spacing:0.11em;}
					.cls-1,.cls-10,.cls-9 {font-family:Montserrat-SemiBold,Montserrat;font-weight:600; }
					.cls-11,.cls-6{ fill:#4c9092;font-family:Montserrat-Black, Montserrat;font-weight:600; }
					.cls-7{font-size:21px;font-family:Montserrat-Regular, Montserrat;font-weight:400;letter-spacing:0.11em;}
					.cls-8{font-family:Montserrat-Light,Montserrat;font-weight:300;}
					.cls-9{letter-spacing:0.1em;}
					.cls-11{letter-spacing:0.11em;}
				</style>
			</defs>
			<text class="cls-1" transform="translate(14.55 57.72)">
				<tspan>MACROSERVICES</tspan>
				<tspan class="cls-6" x="456.89" y="0">.</tspan>
				<tspan class="cls-7">
					<tspan x="0" y="50">THOUGHT LEADERSHIP BY</tspan>
					<tspan class="cls-9" x="336.92" y="50">CONCISO</tspan>
					<tspan class="cls-11" x="452.32" y="50">.</tspan>
				</tspan>
			</text>
		</svg>
	</a>
	<nav>
		<a href="#menu">Menü</a>
	</nav>
</header>

<!-- Menu -->
<nav id="menu">
	<ul class="links">
        {% for page in site.pages %}
		    {% if page.layout == "home" %}
		        <li><a href="{{ "" | absolute_url }}/">{{ page.title }}</a></li>
	    	{% endif %}
		{% endfor %}
		{% for page in site.html_pages %}
		    {% if page.layout != "home" and page.nav-menu == true %}
		        <li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
		    {% endif %}
		{% endfor %}
	</ul>
</nav>
